# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2

print(result)

7.4
9.4

##### Subtraction

In [4]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [5]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [6]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [7]:
result_floor = num2//num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [8]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [9]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [10]:
name = 'John'
print(name)

John

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print("Jan", end=' ')
print("waved")

Jan waved

##### String Concatenation

In [12]:
first_name = "John"
last_name = "Smith"

full_name = first_name + ' ' + last_name

print(full_name)

John Smith

##### Type Conversion

In [13]:
number = "32"
change_type_num = int(number)
change_type_num += 1
print(change_type_num)

33

##### input()

In [14]:
 # input will always return a string
    
name = input("What is your name? ")
print(name)

age = input("what is your age? ")
add_age = int(age) + 5
print(add_age)

What is your name? Jaysom
Jaysom
what is your age? 9
14

In [15]:
##### format()

In [16]:
age = input("What is your age? ")

result_string = "You are {}, {} and you are getting wiser!".format(age,name)
print(result_string)

What is your age? 9
You are 9, Jaysom and you are getting wiser!

##### Old Way (python 2)

In [17]:
result_string_2 = "You are %s and you look great fo your age!" %age
print(result_string_2)

You are 9 and you look great fo your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [18]:
name = input("What is your name? ")
color = input("What color is your car? ")
year = input("What year is your car? ")
model = input("What model is your car? ")
print(f"{name}, your {year} {model} is the color {color}")

What is your name? Jayson
What color is your car? white
What year is your car? 2002
What model is your car? RAM 1500
Jayson, your 2002 RAM 1500 is the color white

### If Statements

In [19]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 4

if num1 == 5:
    print("This is true!")
else:
    print("This is false!")
    
if num2 > num1 and num3 > 0:
    print("num2 is greater")
elif num2 < num1:
    print("num1 is greater")
else:
    print("equal values")

This is true!
num1 is greater

##### 'is' keyword

In [20]:
num3 = 55

if num3 is 55:
    print("This is the exact number")

This is the exact number

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\nicol\AppData\Local\Temp\ipykernel_176800\1210800623.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [21]:
char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [22]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [23]:
user_input = input("Input: ")

if "p" in user_input:
    print("true")
else:
    print("false")

Input: pizza
true

## Using 'and'/'or' with If Statements

In [32]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_13 - 7 == num_14 and num_11 / 5 == num_12:
    print("True and True")

True and True

### Elif Statements

In [3]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is not Max")
else:
    print("The name is Max")

What is your name? Max
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [7]:
# for i in range

name = "Jayson Yin"

for letter in name:
    print(letter)

J
a
y
s
o
n

Y
i
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [9]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [8]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [13]:
for i in range(25):
    for j in range(2):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  1 j =  0
i =  1 j =  1
i =  2 j =  0
i =  2 j =  1
i =  3 j =  0
i =  3 j =  1
i =  4 j =  0
i =  4 j =  1
i =  5 j =  0
i =  5 j =  1
i =  6 j =  0
i =  6 j =  1
i =  7 j =  0
i =  7 j =  1
i =  8 j =  0
i =  8 j =  1
i =  9 j =  0
i =  9 j =  1
i =  10 j =  0
i =  10 j =  1
i =  11 j =  0
i =  11 j =  1
i =  12 j =  0
i =  12 j =  1
i =  13 j =  0
i =  13 j =  1
i =  14 j =  0
i =  14 j =  1
i =  15 j =  0
i =  15 j =  1
i =  16 j =  0
i =  16 j =  1
i =  17 j =  0
i =  17 j =  1
i =  18 j =  0
i =  18 j =  1
i =  19 j =  0
i =  19 j =  1
i =  20 j =  0
i =  20 j =  1
i =  21 j =  0
i =  21 j =  1
i =  22 j =  0
i =  22 j =  1
i =  23 j =  0
i =  23 j =  1
i =  24 j =  0
i =  24 j =  1

### While Loops

In [14]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [16]:
game_over = False

while True:
    print("Infinite Loop if not for break")
    if game_over == False:
        break

Infinite Loop if not for break

##### While & For Loops Used Together

In [17]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [20]:
# range(start, stop, step)

for i in range(7,20,7):
    print(i)

7
14

##### len()

In [21]:
name = input("Give me the name of your favorite book: ")
length = len(name)

print("There are", length, "letters!")

Give me the name of your favorite book: Percy
There are 5 letters!

##### help()

In [22]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [27]:
print(isinstance("5", str))

True

##### abs()

In [28]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [30]:
# Use this to log out graceful and useful error messages
# Does not stop the program!

try:
    input_num = int(input('Guess a number: '))
    print('Your number is:', str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number: 5
Your number is: 5

### Lists

##### Declaring Lists

In [37]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

print(names)

for name in names:
    print(name)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
Max
Cindy
Kathy
Bob
Nate

##### Indexing a List

In [43]:
list_2 = ["john","sally",'kevin']

for i in range(0, len(names)):
    print("\nIndex:", i)
    print("Name:", names[i])
    
# Print in reverse

print(names[::-1])

Index: 0
Name: Max

Index: 1
Name: Cindy

Index: 2
Name: Kathy

Index: 3
Name: Bob

Index: 4
Name: Nate
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [44]:
names.append("Brandon")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [45]:
names.insert(3,"Devon")
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [46]:
print("Original list:", names)
popped_name = names.pop(2)
print(popped_name, "was popped!")
print("New list:", names)

Original list: ['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']
Kathy was popped!
New list: ['Max', 'Cindy', 'Devon', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [47]:
# Value to be removed rather than index
names.remove("Bob")
print(names)

['Max', 'Cindy', 'Devon', 'Nate', 'Brandon']

##### del()

In [49]:
del(names[0])
print(names)

['Cindy', 'Devon', 'Nate', 'Brandon']

##### Concatenating Two Lists

In [51]:
new_names = ["Jayson", "Josh", "Kendell"]
all_names = names + new_names

print(all_names)

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka'], 'Jayson', 'Josh', 'Kendell']

##### Lists Within Lists

In [ ]:
names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names[3][2])

##### Looping Through Lists

In [54]:
# Two ways to loop through a list!

# By index

for i in range(len(names)):
    print(names[i])
    
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [56]:
counter = 0
cube = 0

while cube < 1000:
    print(cube)
    counter += 1
    cube = counter**3

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [66]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

max = 100

for num in range(max + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [70]:
age = int(input("What is your age: "))


if age < 18:
    print("Kid")
elif age >= 18 and age < 65:
    print("Adult")
else:
    print("Senior")

What is your age: 17
Kid